<!--
<html>
    <head><title>Merchex</title></head>
    <body>
-->
{% extends 'listings/base.html' %}
{% block content %}

        <h1>Hello Django !</h1>
        <p>
        J'ai..
        {% if bands|length < 5 %}
            peu de
        {% elif bands|length < 10 %}
            quelques
        {% else %}
            beaucoup de
        {% endif %}
            groupes préférés.
        </p>
        <p>J'ai {{ bands|length }} groupes préférés.</p>
        <p>Mes groupes préférés sont :</p>
        <!-- TODO : liste des groupes -->
        <ul>
            <!-- <li>{{ first_band.name }}</li> -->
            <!--
            <li>{{ bands.0.name }}</li>
            <li>{{ bands.1.name }}</li>
            <li>{{ bands.2.name }}</li>
            -->
            {% for band in bands %}
            <li>{{ band.name|upper }}</li>
            {% endfor %}
        </ul>

{% endblock %}
<!--
    </body>
</html>
-->
